misc/*
log/*
dataset/*
!dataset/.gitkeep
dataset_raw/*
model_*/*
model/*
!model/.gitkeep
output/*
!output/.gitkeep
experiment/*
*/lightning_logs/*
*.ipynb_checkpoints
*pyc
*.ckpt
*.DS_Store
.vscode


